html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#dfd8c8;
    color:black;
    width: 100vw;
    margin:0;
    padding:0;
}

.info-links,.home-links-box{
    background-color:  #1F2937;
    color: whitesmoke;
    
}

ul.nav-links,ul.home-links{
    list-style-type: none;
}

a.nav-links,a.home-links{
    text-decoration: none;
    color: white;
    font-size: x-large;
}

@media(max-width: 1095px){

    h1.home-title{
        display:none;
    }

    .logo-img{
        max-width: 80vw;
    }

    .mobile-logo{
        margin-top: 3vh;
    }
    .logo-title{
        display: none;
    }

    .home-links-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height:100vh;
        background-color:  #1F2937;
    }

    .home-links{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-top:5vh;
        padding:0;
    }
    

    ul.nav-links{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        margin:0;
        padding:3%;
    }
    
    ul.home-links{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-image{
        display: none;
    }

    .aboutus-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:3% 3% 3%;
    }

    .truck-img{
        width: 90vw;
        height:auto;
        border-radius: 5%;
        border:transparent;
    }

    .aboutus-paragraph{
        padding: 1% 1% 1%;
        font-size: x-large;
        text-align: center;
    }

    .aboutus-paragraph p{
        line-height: 1.2;
    }


    .services{
        margin:1% 1% 1%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-text{
        margin: 1% 1% 1%;
        padding: 1% 1% 1%;
    }

    .colour-options{
        background-color: white;
        border-radius: 5%;
        border: 4px solid transparent;
        text-align: center;
        margin: 1% 1% 1%;
        padding: 1% 1% 1%;
    }
    .colours-img{
        max-width: 90vw;
        height: auto;
    }

    .services-list{
        margin: 2% 2% 2%;
    }
    .finish-list{
        margin: 2% 2% 2%;
    }

    ul.finish-list li{
        margin: 2% 2% 2%;
    }

    ul.services-list li{
        margin: 2% 2% 2%;
    }

    .group-name-box{

        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gallery-images{
        width: 90vw;
        height:auto;
        border-radius: 15px;
        margin-top: 2%;
        border: 4px solid transparent;
    }

    h2.group-name{
        text-align: center;
    }
    
    .contact-icon{
        margin-right: 1em;
    }

    .contact-info{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        max-width: 100%;
        padding: 2% 2% 0%;
    }

    a.email-link{
        color: black;
        text-decoration: underline;
    }

    h2.contact-details{
        font-size:large;
    }

    .message-box{
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3.email-us{
        align-self: center;
    }

    form{
        
        display: flex;
        flex-direction: column;
        padding: 0% 2% 2%;
        width:90vw;
        max-width: 600px;

    }

    form input,form textarea{
        border:0 solid transparent;
        border-radius: 15px;
        margin:2%;
        padding: 20px;
        outline:none;
        background-color: whitesmoke;
        font-size: 16px;
    }

    form button{
        padding:15px;
        background-color: #e0474c;
        font-size: 18px;
        border:0;
        outline:none;
        cursor:pointer;
        width:150px;
        margin:20px auto 0;
        border-radius: 30px;
    }   
}

@media(min-width: 1096px){

    .logo-title,.home-logo{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:1% 1% 1%;
    }

    .logo-img{
        margin-right:15px;
        max-width: 250px;
    }
    
    .home-links-box, .info-links{
        display: flex;
        justify-content: space-between;
    }

    ul.nav-links, ul.home-links{
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin:0;
        padding:0 3% 0%;
    }

    .aboutus-content{
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
    }

    .truck-img{
        width: 100%;
        height:auto;
        border-radius: 30px;
        border: 4px solid transparent;
    }
    .aboutus-paragraph{
        
        border-radius: 30px;
        border: 4px solid transparent;
        padding: 1% 1% 1%;
        width:50vh;
        font-size: x-large;
        text-align: center;
    }

   
    .services{
        margin:1% 1% 1%;
        display:flex;
        flex-wrap: wrap;
    }

    .services-text{

        border-radius: 30px;
        border: 4px solid transparent;
        margin: 1% 1% 1%;
        padding: 1% 1% 1%;
    }

    .colour-options{
        background-color: white;
        border-radius: 30px;
        border: 4px solid transparent;
        text-align: center;
        margin: 1% 1% 1%;
        padding: 1% 1% 1%;
    }
    .colours-img{
        max-width: 100%;
        height: auto;
    }

    .services-list{
        margin: 2% 2% 2%;
    }
    .finish-list{
        margin: 2% 2% 2%;
    }

    ul.finish-list li{
        margin: 2% 2% 2%;
    }

    ul.services-list li{
        margin: 2% 2% 2%;
    }

    .gallery-images{
        margin:1% 1% 1%;
        width: 22vw;
        height:auto;
        border-radius: 15px;
        border: 4px solid transparent;
    }

    h2.group-name{
    text-align: center;
    }

    .group-name-box{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    a.email-link{
        color: black;
        text-decoration: underline;
    }
    
    .contact-box{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .contact-info{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        border-radius: 30px;
        border: 4px solid transparent;
        margin: 1% 1% 1%;
        padding: 0% 2% 0%;
        
    }

    .message-box{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3.email-us{
        align-self: center;
    }

    form{
        
        display: flex;
        flex-direction: column;
        padding: 0% 2% 2%;
        width:90%;
        max-width: 600px;
        border-radius: 15px;
    }

    form input,form textarea{
        border:0;
        border-radius: 10px;
        margin:10px 0;
        padding: 20px;
        outline:none;
        background-color: whitesmoke;
        font-size: 16px;
    }

    form button{
        padding:15px;
        background-color: #e0474c;
        font-size: 18px;
        border:0;
        outline:none;
        cursor:pointer;
        width:150px;
        margin:20px auto 0;
        border-radius: 30px;
    }   

}