

body{
    background-color:darkgray;
    color:black;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.info-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:  #1F2937;
    color: rgb(236, 225, 47);
    padding: 1% 1% 1%;
}

ul.nav-links{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 24px;
    margin:0;
    padding:0;
}

a.nav-links{
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.logo-img{
    padding:0% 1% 1%;
}

.home-image{
    width:100%;
    max-height: 86.62vh;
}

.aboutus-content{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.truck-img{
    max-width: 100%;
    height:auto;
    border-radius: 30px;
    border: 4px solid transparent;
}
.aboutus-paragraph{
    background-color: white;
    border-radius: 30px;
    border: 4px solid transparent;
    padding: 1% 1% 1%;
    width:50vh;
    font-size: x-large;
    text-align: center;
}

.services{
    margin:1% 1% 1%;
    display:flex;
    flex-wrap: wrap;
}

.services-text{
    background-color: white;
    border-radius: 30px;
    border: 4px solid transparent;
    margin: 1% 1% 1%;
    padding: 1% 1% 1%;
}

.colour-options{
    background-color: white;
    border-radius: 30px;
    border: 4px solid transparent;
    text-align: center;
    margin: 1% 1% 1%;
    padding: 1% 1% 1%;
}
.colours-img{
    max-width: 100%;
    height: auto;
}

.services-list{
    margin: 2% 2% 2%;
}
.finish-list{
    margin: 2% 2% 2%;
}

ul.finish-list li{
    margin: 2% 2% 2%;
}

ul.services-list li{
    margin: 2% 2% 2%;
}

.gallery-images{
    margin:1% 1% 1%;
    max-width: 575px;
    min-width: 400px;
    height:auto;
    border-radius: 15px;
    border: 4px solid transparent;
}

h2.group-name{
   text-align: center;
}

.group-name-box{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.contact-box{
    display:flex;
    justify-content: center;

}
.contact-info{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    border-radius: 30px;
    border: 4px solid transparent;
    margin: 1% 1% 1%;
    padding: 0% 2% 0%;
    width: 600px;
}



.message-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2% 2% 2%;
    width:90%;
    max-width: 600px;
    border-radius: 15px;
}

form input,form textarea{
    border:0;
    border-radius: 10px;
    margin:10px 0;
    padding: 20px;
    outline:none;
    background-color: lightgray;
    font-size: 16px;
}

form button{
    padding:15px;
    background-color: red;
    font-size: 18px;
    border:0;
    outline:none;
    cursor:pointer;
    width:150px;
    margin:20px auto 0;
    border-radius: 30px;
}   
